*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    padding: 3rem;

    @include respond(tab-land) {
        padding: 0;
    }    
}

/*
The default browser font size is 16px so to get it to 10px default using
percents just divide 100% (100% of the default font size == 16px) by 10 == 62.5%
*/
html {
    font-size: 62.5%;
    @include respond(tab-land) {
        font-size: 56.25%;
    }

    @include respond(tab-port) {
        font-size: 50%;
    }

    @include respond(big-desktop) {
        font-size: 75%;
    }

}
